.detail {
  display: flex;
  max-width: 1800px;
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  background-color: rgba(177, 177, 177, 0.05);
}

/* Video */

.player {
  width: 1280px;
  height: 720px;
}

/* Information */

.description {
  width: 1280px;
}

.tags {
  display: block;
  margin-top: 5px;
  color: #1c97e3;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views {
  color: rgb(117, 116, 116);
}

.likeUnlike {
  font-size: 1.2rem;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.like {
  margin-right: 20px;
}

.channelBox {
  display: flex;
  align-items: center;
}
.channelIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 2rem;
  border-radius: 50%;
}

.channelTitle {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
}

/* Video List */

.videoList {
  width: 100%;
  list-style: none;
  margin-top: 0;
}

.container {
  margin-bottom: 1px;
  margin-top: -5px;
}

.video {
  width: 460px;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video img {
  height: 100px;
}

.video:hover {
  background-color: rgba(245, 246, 250);
  opacity: 0.7;
}

.thumbanils {
  background-color: red;
}

.metadata {
  margin-left: 0.3em;
}

.title {
  font-weight: bold;
  margin: 0;
  flex-wrap: wrap;
}

.channel {
  font-size: 0.9rem;
  color: gray;
  margin: 0;
}
.count {
  font-size: 14px;
  color: gray;
}

.comment {
  display: block;
  margin-top: 10px;
}

.comments {
  width: 100%;
  margin-top: 30px;
}

.commentBox {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.commentBox div {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.commentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 40px;
  height: 35px;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.commentText {
  width: 100%;
}

.commentText span:first-child {
  color: rgb(177, 177, 177);
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .detail {
    flex-direction: column;
  }
  .player {
    width: 1300px;
    height: 725px;
  }
  .description {
    width: 1290px;
    height: 250px;
  }
  .likeUnlike {
    width: 30%;
  }
  .videoList {
    padding-left: 0;
    width: 100%;
  }
  .container {
    width: 1300px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .video {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    cursor: pointer;
    transition: transform 250ms ease-in;
  }

  .video img {
    width: 450px;
    height: 280px;
  }

  .comments {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .detail {
    flex-direction: column;
    max-width: 1000px;
    margin-top: 55px;
  }
  .player {
    width: 1000px;
    height: 725px;
  }
  .description {
    width: 1000px;
    height: 250px;
  }
  .video {
    width: 100%;
  }
  .video img {
    width: 450px;
    height: 280px;
  }

  .container {
    width: 1000px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .comments {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .detail {
    flex-direction: column;
    max-width: 600px;
    margin-top: 55px;
  }
  .videoList {
    padding-left: 0;
  }
  .player {
    width: 470px;
    height: 265px;
  }
  .description {
    width: 470px;
    height: 300px;
    font-size: 13px;
  }
  .likeUnlike {
    width: 50%;
  }
  .video {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .video img {
    width: 450px;
    height: 280px;
  }

  .container {
    width: 450px;
    flex-grow: 1;
    margin-bottom: 10px;
  }

  .comments {
    display: none;
  }
}
