.container {
  width: 380px;
  margin-bottom: 10px;
  margin: auto;
}

.video:hover {
  background-color: rgba(245, 246, 250);
  opacity: 0.7;
}

.video img {
  width: 100%;
}

.video {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.thumbanils {
  background-color: red;
}

.metadata {
  margin-left: 0.3em;
  height: 80px;
}

.title {
  font-weight: bold;
  margin: 0;
  flex-wrap: wrap;
}

.channel {
  font-size: 0.9rem;
  color: gray;
  margin: 0;
}

.count {
  font-size: 14px;
  color: gray;
}

@media screen and (min-width: 2300px) {
  .container {
    width: 420px;
  }
  .video {
    width: 420px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 480px;
    flex-grow: 1;
  }
  .video {
    width: 480px;
  }
}
