.container {
  width: 50%;
  margin-bottom: 4px;
}

.video:hover {
  background-color: rgba(245, 246, 250);
  opacity: 0.7;
}

.video {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.thumbanils {
  background-color: red;
}

.metadata {
  margin-left: 0.3em;
}

.title {
  font-weight: bold;
  margin: 0;
  flex-wrap: wrap;
}

.channel {
  font-size: 0.9rem;
  color: gray;
  margin: 0;
}

.count {
  font-size: 14px;
  color: gray;
}
