.videos {
  max-width: 2000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 130px;
  margin-left: 0;
}

.targetObserver {
  position: absolute;
  background-color: red;
  transform: translateY(-100px);
  z-index: 1;
  bottom: 0;
}

@media screen and (min-width: 2300px) {
  .videos {
    max-width: 2600px;
  }
}
