.videosContainer {
  position: relative;
}

.videos {
  max-width: 2000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 130px;
  margin-left: 0;
}

.targetObserver {
  position: absolute;
  background-color: red;
  bottom: 0;
  transform: translateY(-500px);
  z-index: 1;
}

@media screen and (min-width: 2300px) {
  .videos {
    max-width: 2500px;
    margin: auto;
    margin-top: 130px;
  }
}
