header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.navbar {
  background-color: #f5f6fa;
  max-width: 3000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-right: auto;
  cursor: pointer;
}

.moveHome {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  color: red;
  font-size: 4rem;
  margin-right: 10px;
}

.navbar span {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 30px;
}

.form {
  width: 70%;
  height: 100%;
  display: flex;
  margin-top: 3px;
  align-items: center;
}

.form input {
  flex-basis: 93%;
  height: 45px;
}

.form input::placeholder {
  font-weight: bold;
}

.form button {
  font-size: 1.5rem;
  height: 45px;
  flex-basis: 7%;
}

.defaultUser {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid #d4d0d0;
  margin-left: auto;
  cursor: pointer;
}

.defaultUser:hover {
  background-color: #ffffff;
  color: red;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .navbar {
    padding: 10px;
  }
  .hamburger {
    display: none;
  }
  .logo {
    font-size: 2rem;
  }
  .navbar span {
    font-size: 1rem;
  }
  .form {
    width: 75%;
  }
  .form button,
  .form input {
    font-size: 1rem;
    height: 30px;
  }
  .defaultUser {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }
  .hamburger {
    display: none;
  }
  .logo {
    font-size: 2rem;
  }
  .navbar span {
    font-size: 1rem;
  }
  .form {
    width: 55%;
  }
  .form button,
  .form input {
    font-size: 1rem;
    height: 30px;
  }
  .defaultUser {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
  }
}
